@model Cliente
@{ Layout = "/Views/Shared/Layout.cshtml";}
    <h1>Apagar Clientes</h1>
    <table>
        <tr>
            <td>Id;</td>
            <td>@Model.ClienteId</td>
        </tr>
        <tr>
            <td>Nome;</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Email;</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Senha;</td>
            <td>@Model.Password</td>
        </tr>
    </table>
    
    @using (Html.BeginForm("Delete","ClienteController", new{id=Model.ClienteId}, FormMethod.Post))
    {
        <div class="form-actions">
            <button class="btn btn-danger" style="margin-top: 20px">Apagar</button>
            @Html.ActionLink("Voltar","Index")
        </div>

    }
