@model Produto
@{ Layout = "/Views/Shared/Layout.cshtml";}
    <h1>Apagar Produtos</h1>
    <p>Tem certeza que deseja excluir esse produto?</p>
    <table>
        <tr>
            <td>Id;</td>
            <td>@Model.ProdutoId</td>
        </tr>
        <tr>
            <td>Nome;</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Preço;</td>
            <td>@Model.Price</td>
        </tr>
    </table>
    @using (Html.BeginForm("Delete","ProdutoController", new{id=Model.ProdutoId}, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <button class="btn btn-danger" style="margin-top: 20px">Apagar</button>
            @Html.ActionLink("Voltar","Index")
        </div>

    }
