@model List<Produto>
@{ Layout = "/Views/Shared/Layout.cshtml";}
    <h1>Lista de Produtos</h1>
    
    <table class="table table-hover">
        @foreach (Produto p in Model)
        {
        <tr>
            <td>@p.ProdutoId</td>
            <td>@p.Name</td>
            <td>@p.Price</td>
            <td><a href="/produto/details/@p.ProdutoId">Detalhes</a></td>
            <td><a href="/produto/delete/@p.ProdutoId" class="btn btn-danger">Apagar</a></td>
            <td><a href="/produto/update/@p.ProdutoId" class="btn btn-success">Editar</a></td>
        </tr>
        }
    </table>
    <a class="btn btn-primary" href="/produto/create">Adicionar</a>
