@{ Layout = "/Views/Shared/Layout.cshtml"; }

<h1>Atualização de Produtos</h1>

<form action="/produto/update/@Model.ProdutoId" method="POST">
    <div>
        <label>Nome</label>
        <input type="text" class="form-control" name="name" value="@Model.Name" />
    </div>

    <div>
        <label>Preço</label>
        <input type="text" class="form-control" name="prico" value="@Model.Price" />
    </div>

    <button class="btn btn-primary" style="margin-top: 20px">Salvar</button>

</form>
